---
import Layout from "../layouts/layout.astro";
import Learn from "../components/artvideos2.astro";
//const consultLink = import.meta.env.PUBLIC_CONSULT_LINK;
---
<div class="wrapper">
<Layout>
    <Learn/>

</Layout>
</div>


<style>
.wrapper{
    background-color: darkslategray;
}

</style>
