---

import Layout from "../layouts/layout.astro";
import Intro from "../components/credentials.astro";
---
<div class="wrapper">
<Layout>
        
       
        <Intro />

    </div>
</Layout>

<style>
    .wrapper{
        background-color: darkslategray;
    }

    

</style>
