---
import Navcard from "./navcard.astro";

---
<nav id="navbar">
  <div class="navbar-container">
    <ul class="navbar-links">
      <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/vickie2">About Vickie</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/costAnalasis">Rates & Info</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/learnmore">Learn</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
    </ul>
    <div class="sidePannel">
      <Navcard />
    </div>
  </div>
</nav>

<style>
  /* Navbar Styles */
  #navbar {
    background-color: #333;
    padding: 1rem 0;
    margin-top: 2px;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .navbar-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navbar-item {
    margin: 0.5rem;
  }

  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .navbar-link:hover {
    background-color: #555;
  }

  .sidePannel {
    position: absolute;
    left: 2px;
    top: 50px;
    z-index: 100000;
    
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar-links {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .navbar-item {
      flex-basis: calc(50% - 1rem);
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    .navbar-links {
      flex-direction: column;
    }

    .navbar-item {
      flex-basis: 100%;
    }
  }
</style>